* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.4;
    background-image: linear-gradient(#FFCC70, #C850C0, #6c7eda);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* utility */
h1,
h2,
h3 {
    font-family: 'Kanit', sans-serif;
    color: #1a2144;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

p {
    font-family: serif;
    font-size: 18px;
    text-align: left;
    color: #091c7c;
}

/* navigation  */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-family: 'Kanit', sans-serif;
}

.left-nav {
    display: flex;
    gap: 35px;
    font-size: 20px;
    align-items: center;

}

.logo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 7px solid black;
    margin-right: -20px;
}

.left-nav a {
    text-decoration: none;
    color: #091c7c;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav p {
    font-size: 20px;
    margin-right: 5px;
}

.icons i {
    margin-right: 10px;
    font-size: 25px;
}

.bar {
    display: none;
}

/* hero section  */

.hero {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 152px;
    margin-bottom: 190px;
    height: auto;
}

.hero-image {
    position: relative;
}

.hero-image img:nth-child(2) {
    position: absolute;
    top: 378px;
    right: -100px;
}

.hero-image img:nth-child(3) {
    position: absolute;
    top: 417px;
    right: -85px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.email-input {
    align-self: flex-start;
    display: flex;
    align-items: center;
    background-color: #111c58;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
}

.input-container {
    padding: 10px;

}

#email {

    font-size: 17px;
    background-color: #111c58;
    border-style: none;
    outline: none;
    color: rgb(120, 113, 113);
}


button {
    /* height: 100%; */
    align-self: stretch;
    background-color: rgb(4, 54, 162);
    color: white;
    padding: 0 10px;
    border-style: none;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
}


.partner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.partner img {
    width: 111px;
    height: 40px;
}

/* inside section  */
#inside {
    scroll-margin: 80px;
}

.inside-section {
    margin-top: 250px;
    display: flex;
    gap: 152px;
    margin-bottom: 150px;
}

.inside-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.inside-image {
    margin-right: 80px;
}

.inside-image img {
    box-shadow: 15px 15px rgb(58, 58, 228),
        30px 30px rgb(4, 4, 70);
}

/* bottom-seciton  */
.quote-section {
    margin-bottom: 100px;
}

.quote-section>p {
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
}

.quote-container {
    display: flex;
    gap: 120px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote h4 {
    font-size: 25px;
    color: #091c7c;
    font-weight: 400;


}

.management {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.management p {
    font-size: 16px;
    font-weight: 600;
    color: #0a154d;
}

.management span {
    font-size: 16px;
    color: #091c7c;
}

/* author-section  */

.author-section {
    display: flex;
    gap: 120px;
    margin-bottom: 80px;
}

.about-author {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-author h3 {
    font-weight: 100;
    font-size: 40px;
}

/* footer  */
.footer {
    color: #091c7c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left-footer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-footer i {
    margin-left: 10px;
    font-size: 22px;
}

@media (max-width:900px) {
    .navigation {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
        gap: 20px;
        margin-bottom: 50px;
    }

    .hero-image img:nth-child(2),
    .hero-image img:nth-child(3) {
        display: none;
    }

    .hero-content button {
        padding: 13px 10px;
    }

    .inside-section {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 0 50px;
        margin-top: 50px;
    }

    .quote-section {
        padding: 0 50px;
    }

    .quote-container {
        gap: 20px;
    }

    .author-section {
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }

    .footer {
        padding: 0 50px;
    }
}

@media (max-width:600px) {
    .hero {
        margin-top: 40px;
    }

    .right-nav {
        display: none;
    }

    .email-input {
        align-self: stretch;
        flex-direction: column;
        background-color: transparent;
        /* justify-content: center; */
        overflow: auto;
        gap: 10px;
        border-radius: 0;
    }

    .input-container {
        width: 100%;
        background-color: #111c58;
        /* overflow: none; */
        align-items: stretch;
    }

    .input-container input {
        width: 100%;
    }

    .button {
        border-radius: 0;
        padding: 0;
        align-self: stretch;
    }

    .quote-container {
        flex-direction: column;
        gap: 30px;
    }

    .hero-image img:nth-child(1) {
        width: 300px;
    }

    .inside-image {
        margin-right: 0;
    }

    .author-image img {
        width: 250px;
    }
}

@media (max-width:516px) {
    .left-nav a {
        display: none;
    }

    .bar {
        display: block;
        font-size: 30px;
    }

}